<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJs</title>
</head>
<body>
<!--      任务1、、、2      -->
 <div id="test">
     <h1>{{info}}</h1>
     <input type="text" v-model="info">
     <div v-if="!info" style="color:red">不能为空</div>
     <button v-show="info">发送</button>
     <pre>
         {{$data|json}}
     </pre>
 </div>
<script src="vue.js"></script>
<script>
    new Vue({
      el:'#test',
      data:{
          info:'好的好的'
      }
    });
</script>
</body>
</html>