<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>较为深入学习vue-resource</title>
    <meta id="token" name="token" value="{{csrf_token()}}">
</head>
<body>
<!--      任务12      -->
<!--vue排序 实例 v-for="task in tasks | orderBy 'id' -1"-->
<div id="app">
    <tasker>

    </tasker>
</div>
<template id="task-temp">
    <form class="form-group" @submit="createTask">
        <input type="text" class="form-control" v-model="pwd">
        <button type="submit" class="btn btn-success">Create Task</button>
    </form>
    当前状态：
    <span>{{list.status.message}}</span><br>
    welcome to {{list.data.name}}
</template>
<script src="http://cdn.bootcss.com/vue/1.0.14/vue.js"></script>
<script src="http://cdn.bootcss.com/vue-resource/0.6.1/vue-resource.min.js"></script>
<script>
    //laravel语法，不懂就当了解
    Vue.http.headers.common['X-CSRF-TOKEN']=document.querySelector('#token').getAttribute('value');
    Vue.component('tasker',{
        template:'#task-temp',
        data:function () {
            return {list:'',pwd:''}
        },
        methods: {
            createTask:function (e) {
                e.preventDefault();
                var that=this;
                /*使用vue-resource来代替jquery发送ajax请求*/
                this.$http.post(
                        'http://localhost/api/v1/admin/login',
                        {username : 'jmxt@jsfund.cn', password: this.pwd},function (result) {
                            that.list=result.data;
                        });
            }
        },
        /*created:function () {
            var that=this;
            /!*使用vue-resource来代替jquery发送ajax请求*!/
            this.$http.post(
                    'http://localhost/api/v1/admin/login',
                    {username : 'jmxt@jsfund.cn', password: '123456'})
                    .then( (result)=> {
                that.list=result.data;
        })


        }*/
    });
    new Vue({
        el:'#app',

    })
</script>
</body>
</html>